doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        link(rel="stylesheet", href="/style.css")

        title SPARQL Query Visualizer
    body
        div(class="container")
            h1(class="display-3") SPARQL Query Visualizer
            hr

            div(class="row")
                div(class="col-sm-6")
                    h3 Query Editor
                    pre(id="editor", style="height: 300px;")
                    button(class="btn btn-primary", id="querySubmit") Visualize
                div(class="col-sm-6")
                    h3 Dot Result
                    pre(id="dotResultEditor", style="height: 300px;")
            hr
            div(class="row")
                div(class="col-sm-12")
                    h3 Result
                    div(class="text-center", id="resultLoadingIndicator", style="display: none;")
                        div(class="loader")
                        <p><small>loading ...</small></p>

                    div(class="alert alert-danger", role="alert", id="errorContainer", style="display: none;")
                        h4(class="alert-heading", id="errorTitle")
                        p(id="errorMessage")

                    div(id="queryViewer")

        script(src="//code.jquery.com/jquery-3.0.0.min.js", integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY", crossorigin="anonymous")
        script(src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
        script(src="/viz.js")
        script(src="/ace/ace.js")
        script(src="/app.js")